#editBundle {

  .delete {
    float:right;
    margin:.5em 0;
  }

  .warning-message {
    margin-top:2em;
  }

  .button-actions {
    margin-top: 1.5em;
    button {
      margin-top: .5em;
      height:3em;
    }
  }

}