body {
  padding-bottom:2em;
  min-width:320px;
}

//Links
 a:hover {
   text-decoration: none !important;
 }

.loading-icon {
  display:block;
  margin:0 auto;
  margin-top:5em;
}


// Clearfix
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


// Footer

#footer {
  width:100%;
  position:fixed;
  bottom:0;
  background:@dark;
  color:@white;
}

// container

.main-screen {
  padding-top:2em;
}

// Spacing


// Interior pages

.interior-bg {
  width:100%;
  background:url('/images/bg1.jpg') no-repeat center center !important;

  p {
    text-align:center;
    color:#000;
    padding:1.5em 0;
    font-size:2em;
    font-weight:800;
  }

}


// Buttons

.half-button {
  width:49% !important;
  display:inline-block !important;
  vertical-align:top !important;
}

#update-url {
  width:99%;
}


// Forms

.multi-url-wrapper {
  input {
    width: 92%;
    float:left;
  }
  .glyphicon {
    float:right;
    font-size: 1.5em;
  }
}


// TODO : strategy around responsive layout

@media (max-width: 28em) {
  .multi-url-wrapper {
    input {
      width: 88%;
    }
  }
}