#home {

  height:100%;
  margin:0;
  padding:0;

  .bg1 {
    background:url('/images/bg1.jpg') no-repeat center center !important;
  }
  .bg2 {
    background:url('/images/bg2.jpg') no-repeat center center !important;
  }
  .bg3 {
    background:url('/images/bg3.jpg') no-repeat center top !important;
  }
  .bg4 {
    background:url('/images/bg4.jpg') no-repeat center center !important;
  }
  .bg5 {
    background:url('/images/bg5.jpg') no-repeat center bottom !important;
  }
  .bg6 {
    background:url('/images/bg6.jpg') no-repeat center top !important;
  }

  .brand-row {

    background-color:@lgrey;

    h2 {
      margin-top:.4em;
      font-weight:800;
    }

  }

  .brand-box {
    h3 {
      background-color:@lgrey;
      text-align:center;
      padding: .4em;
    }
  }

  .brand-twin {
    padding-top:2em;
    padding-bottom:2em;
  }

  .brand-container {
    background:@white;

    img {
      margin: 0 auto;
      display:block;
      margin-top:1em;
    }

  }

  .main-screen{
    background:#000;
    height:40%;
    width:100%;
    position:relative;
    background-size: cover !important;
  }

  .center-section {
    color:#fff;
    margin:0 auto;
    width:50%;
    text-align: center;

      button {
        width:50%;
        padding:1em;
        display:block;
        margin:0 auto;
        border:0;
        background: rgba(0,0,0,.8);
        color:#fff;
      }

  }


}