<div class="main-screen">
    <div id="main">
        <section class="center-section">
            <a href="/create"><button>Create List</button></a>
            <button>Find List</button>
        </section>
    </div>
</div>