<div>

    <h3>{{title}}</h3>

    <div class="multi-url-container">

        {{#each urls}}
            <p><a href="{{this}}">{{this}}</a></p>
        {{/each}}

        <p>{{text}}</p>

    </div>

 </div>