<div id="bundle-container">

    <label>Name / short description</label>
    <p><input type="text" value="{{bundleName}}" class="form-control title-field" id="bundleName"/></p> </br>

    <form>
        <div id="bundle-list">

            <label>url w/ details</label>

            {{#each bundleUrls}}

                {{{this}}}

            {{else}}

                //

            {{/each}}

        </div>
    </form>

    <div class="form-group button-actions">
        <button class="btn btn-primary form-control half-button" id="add-url">+ Single url</button>
        <button class="btn btn-primary form-control half-button" id="add-multi-url">+ Multiple url</button>
        <button class="btn btn-primary form-control" id="update-url">Update</button>
    </div>

</div>



