

<div class="main-screen">
    <div id="main" class="container">
         <div class="col-md-8">
             <section class="center-section">
                <h3>Create bundle</h3>
                <p>To get started, enter a name below or <span class="generate-random" data-target="#bundleName">click to generate</span> a random one.</p>
                <form>
                    <input type="text" name="bundleName" id="bundleName" class="form-control"/></br>
                </form>
                <button class="form-control" id="submit-create">Submit</button>
             </section>
             <section id="bundle-create-message"></section>
        </div>
    </div>
</div>