
{{> backgroundBlock bundleId=bundleId }}

<div class="main-screen">

    <div id="main" class="container">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div id="edit-mount"><img src="/images/loading.gif" alt="loading" class="loading-icon"/></div>

                </div>

                <div class="col-md-4">

                    <p class="bg-danger warning-message">Warning : If you lose this link, you will no longer be able to edit this list.</p>
                    <p><a href="/b/{{bundleId}}" target="_blank"><button class="btn btn-success form-control" id="add-url">View bundle</button></a></p>
                    <div id="edit-status"></div>

                </div>

            </div>

        </div>

    </div>

</div>