<div class="main-screen">
    <div id="main">
        <section class="center-section">
            <a href="/create"><button>Create Bundle</button></a>
            <a href="/edit"><button>Edit Bundle</button></a>
        </section>
    </div>
</div>


<div class="brand-row row text-center"><h2>Url Bundle</h2></div>

<div class="row">

    <div class="container brand-box-container">

        <div class="col-md-4 brand-box">
            <h3>What can it do?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-md-4 brand-box">
            <h3>Who is it for?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-md-4 brand-box">
            <h3>How is it different?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

    </div>

</div>