{{> backgroundBlock bundleId=bundleId }}

<div class="main-screen">

    <div id="main" class="container">

        <div class="container">

           <div id="view-bundle"><img src="/images/loading.gif" alt="loading" class="loading-icon"/></div>

        </div>

    </div>

</div>