<div class="form-group">
    <label>Title and link</label>
    <input type="text" value="{{text}}" class="form-control" data-titleNumber="{{@key}}" placeholder="Url title"/>
    <input type="text" value="{{url}}" data-textNumber="{{@key}}" class="form-control"/>
    <p><button type="button" class="btn btn-danger delete">Delete</button></p>
</div>